@page
@model FamilyTreeNet.Pages.Admin.AddFamilyModel
@{
    ViewData["Title"] = "AddFamily";
    Layout = "_AdminLayout";
}

<h1>AddFamily</h1>

<a asp-page="Back" class="btn btn-secondary">Cancel</a>
