@page
@model FamilyTreeNet.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "_AdminLayout";
}

<h1>Welcome to Family Tree Admin</h1>

<ul class="menu">
    <li><a href="/admin/search">Search for people to edit</a></li>
    <li><a href="/admin/person/restore">Restore soft-deleted people</a></li>
    <li><a asp-page="init/index">Initialize the database</a></li>
</ul>

<input type="checkbox" checked="@Model.IsAdmin" readonly="readonly" id="isadmin" /><label for="isadmin">Admin</label>
<input type="checkbox" checked="@Model.IsEditor" readonly="readonly" id="iseditor" /><label for="iseditor">Editor</label>
