@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Family Tree</h1>
        <p>
            This application shows a family tree, based on an imported <a href="https://en.wikipedia.org/wiki/GEDCOM" target="_blank">GEDCOM</a> file.
        </p>
        <ul>
            <li><a asp-page="Reports/FamilyNames">Main index of family names</a>.</li>
            <li><a asp-page="Reports/Summary" >Summary statistics</a>.</li>
        </ul>
    </div>
